<div id="parallax">

  <div id="back-img" class="para-img">
    <img src="/public/res/bigblob.png" alt="" class="bg-img">
  </div>

  <div id="front-img" class="para-img">
    <img src="/public/res/smallblob.png" alt="" class="bg-img">
  </div>

</div>
