<!-- MONITOR -->
<div id="footer-monitor" class="container">
  <span id="social-media">
    <a href="https://twitter.com/cpudev" target="_blank"><img src="public/res/twitter-small.png" alt="Twitter @cpudev" id="twitter-footer"></a>
    <a href="https://instagram.com/cpudev" target="_blank"><img src="public/res/insta-small.png" alt="Instagram @cpudev" id="insta-footer"></a>
    <a href="https://github.com/cpuved" target="_blank"><img src="public/res/github-small.png" alt="Github @cpuved" id="github-footer"></a>
  </span>
  <span>&copy; 2017 | Christopher James Perceval-Maxwell.</span>
</div>
