<div id="footer" class="container">
  <span id="social-media">
    <img src="public/res/twitter-small.png" alt="Twitter @cpudev" id="twitter-footer">
    <img src="public/res/insta-small.png" alt="Instagram @cpudev" id="insta-footer">
    <img src="public/res/github-small.png" alt="Github @cpuved" id="github-footer">
  </span>
  <span>&copy; 2017 | Christopher James Perceval-Maxwell.</span>
</div>
