<div id="header" class="container">
  <ul id="pages">
    <li><a href="/about-me">ABOUT ME</a></li>
    <li><a href="/my-work">MY WORK</a></li>
    <li><a href="/contact-me">CONTACT ME</a></li>
  </ul>
  <a href="/"><img src="/public/res/c.png" alt="Logo" id="logo"></a>
</div>
