<!-- MONITOR -->
<div id="header-monitor" class="container">
  <ul id="pages">
    <li class="li-hover" id="shop"><a href="/shop" class="nav-shop nav-page">SHOP</a></li>
    <li></li>
    <li class="li-hover" id="about"><a href="/about-me" class="nav-about nav-page">ABOUT ME</a></li>
    <li class="li-hover" id="work"><a href="/my-work" class="nav-work nav-page">MY WORK</a></li>
    <li class="li-hover" id="contact"><a href="/contact-me" class="nav-contact nav-page">CONTACT ME</a></li>
  </ul>
  <a href="/"><img src="/public/res/c.png" alt="Logo" id="logo"></a>
</div>
