<div id="contact" class="container-narrow">
  <!-- <a href="https://twitter.com/messages/compose?recipient_id=1304909593">hmu</a> -->
  <div id="contact-nav">
    <img src="/public/res/twitter-small.png" alt="" id="rev-twitter">
    <img src="/public/res/dc.png" alt="" id="rev-dc">
    <img src="/public/res/skype.png" alt="" id="rev-skype">
    <img src="/public/res/email.png" alt="" id="rev-email">
  </div>

  <div id="contact-details">
    <div id="contact-info">

    </div>

    <div id="contact-img">
      <img src="/public/res/twitter-small-hover.png" alt="" id="contact-twitter">
      <img src="/public/res/dc-hover.png" alt="" id="contact-dc">
      <img src="/public/res/skype-hover.png" alt="" id="contact-skype">
      <img src="/public/res/email-hover.png" alt="" id="contact-email">
    </div>
  </div>
</div>
