<div id="index">
  <div id="centre-name">
    <p id="title">CJPM.</p>
    <p id="bio">You can't judge a book by its cover, but you can judge a company by their website. Let me make your customers' first impressions the right ones.</p>
  </div>
</div>
