<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{{domain}}} {{{title}}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../public/css/style.css">
    <link type="text/css" rel="stylesheet" href="../public/materialize-css/materialize/css/materialize.css" media="screen,projection" />
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/materialize-css/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
