<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{{domain}}} {{{title}}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Rokkitt" rel="stylesheet">
    <link rel="icon" href="/public/res/c.png" type="image/png">
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    {{>header}}
    <div id="page-wrapper">
      {{{body}}}
    </div>
    {{>footer}}
  </body>
</html>
